language: android

jdk:
    - oraclejdk7

android:
  components:
    - build-tools-21.1.2
    - android-20
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-google-google_play_services

before_install:
    - chmod +x gradlew
  
env:
    - TERM=dumb
    
script:
    - ./gradlew testDebug

after_success:
    - ./gradlew jacocoTestReport coveralls