<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.emerssso.srbase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <permission
        android:authorities="com.gmail.emerssso.srbase.srcontentprovider"
        android:name=".database.SRContentProvider"
        android:exported="false" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gmail.emerssso.srbase.SRListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditSRActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ViewSRActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".EditDailyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ListCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ListPartsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".EditPartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <provider 
            android:name=".database.SRContentProvider"
            android:authorities="com.gmail.emerssso.srbase.srcontentprovider" >
        </provider>
        <provider 
            android:name=".database.DailyContentProvider"
            android:authorities="com.gmail.emerssso.srbase.dailycontentprovider" >
        </provider>
        <provider 
            android:name=".database.PartContentProvider"
            android:authorities="com.gmail.emerssso.srbase.partcontentprovider" >
        </provider>
    </application>

</manifest>
